# --- 1. DỮ LIỆU & FILE NÉN (QUAN TRỌNG) ---
Data/
datasets/
data_filtered/

# Chặn luôn các file nén/dữ liệu nặng nhỡ may để quên ở thư mục gốc
*.tar.gz
*.csv
# --- 2. MODEL FILES (CỰC KỲ QUAN TRỌNG) ---
# Chặn tất cả các file trọng số mô hình (để tránh lỗi 100MB của GitHub)
*.safetensors
*.bin
*.pt
*.h5
*.keras
*.jsonl
saved_models/
checkpoints/
phobert_best/



# --- 3. BẢO MẬT & SECRET ---
.env
secret.py
upload.py

# --- 4. PYTHON & MÔI TRƯỜNG ---
__pycache__/
*.pyc
venv/
env/
.venv/
pip-log.txt
*.log

# --- 5. NOTEBOOK & IDE ---
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- 6. KHÁC ---
chromedriver.exe
geckodriver.exe
debug.log